<h2>Comments</h2>
<div *ngIf="!comments">
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="comments">
  <input class="form-control" type="text" name="search"
         [(ngModel)]="searchText" autocomplete="off" placeholder="Search">

  <div *ngFor="let comment of comments  | filter:searchText">
    <p-panel class="mr-md-1" (click)="onClick(comment.taskId)">
      <p-header>
        {{comment.dateAdded | date: 'short'}}
      </p-header>

      <div class="form-group">
        <label for="type">Comment Type:</label>
        <select class="form-control full-opacity" name="type" [(ngModel)]="comment.type" disabled="true">
          <option *ngFor="let type of commentTypes" [value]="type">{{type}}</option>
        </select>
      </div>

      <div class="form-group">
        <textarea [rows]="4" [cols]="70" pInputTextarea disabled="true" [(ngModel)]="comment.comment" autoResize="autoResize" class="full-opacity"></textarea>
      </div>

      <div class="form-group">
        <label>Remainder Date:</label>
        <input value="{{comment.remainderDate | date: 'short'}}" type="text" class="form-control" name="description" id="description">
      </div>
    </p-panel>
  </div>
</div>
