<h2>Tasks</h2>
<div *ngIf="!tasks">
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="tasks">
  <button pButton type="button" class="ui-button-primary m-md-1" label="Add new" (click)="addNewTask($event)"></button>

  <p-table [value]="tasks">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr (click)="taskClicked(task.id)">
        <td *ngFor="let col of cols">
          <span *ngIf="col.field == 'dateCreated' || col.field == 'dateRequired' || col.field == 'nextActDate'">{{task[col.field] | date: 'short'}}</span>
          <span *ngIf="!(col.field == 'dateCreated' || col.field == 'dateRequired' || col.field == 'nextActDate')">{{task[col.field]}}</span>
        </td>
        <td>
          <button pButton type="button" class="ui-button-danger m-md-1" label="Delete" (click)="$event.stopPropagation(); deleteTask(task.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="displayAddNew" [style]="{width: '500px'}">
  <p-header>
    Add new Task
  </p-header>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" name="description" id="description" ngModel required>
    </div>

    <div class="form-group">
      <label for="assignedTo">Assigned To</label>
      <input type="text" class="form-control" name="assignedTo" ngModel required>
    </div>

    <div class="form-group">
      <label for="dateRequired">Date Required</label><br />
      <p-calendar name="dateRequired" ngModel></p-calendar>
    </div>

    <div class="form-group">
      <label for="nextDate">Next Assigment Date</label><br />
      <p-calendar name="nextDate" ngModel></p-calendar>
    </div>

    <div class="form-group">
      <label for="type">Task Type</label>
      <select class="form-control" name="type" ng-model="newTaskStatus" ngModel required>
        <option *ngFor="let task of taskTypes" [value]="task">{{task}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="status">Status:</label>
      <select class="form-control" name="status" ngModel required>
        <option *ngFor="let status of taskStatus" [value]="status">{{status}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>

</p-dialog>
