<div *ngIf="!actualTask">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="actualTask" class="border-bottom m-md-3">
  <h3>{{actualTask.type}} {{actualTask.id}}</h3>
  <button pButton type="button" class="ui-button-primary m-md-1" label="Save Changes" (click)="saveEditTask($event)"></button>
  <div class="form-group">
    <label for="nextDate">Date Created</label><br />
    <p-calendar name="nextDate" [(ngModel)]="actualTask.dateCreated"></p-calendar>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" name="description" id="description" [(ngModel)]="actualTask.description">
  </div>

  <div class="form-group">
    <label for="assignedTo">Assigned To</label>
    <input type="text" class="form-control" name="assignedTo" [(ngModel)]="actualTask.assignedTo">
  </div>

  <div class="form-group">
    <label for="dateRequired">Date Required</label><br />
    <p-calendar #ngform name="dateRequired" [(ngModel)]="actualTask.dateRequired"></p-calendar>
  </div>

  <div class="form-group">
    <label for="nextDate">Next Assigment Date</label><br />
    <p-calendar name="nextDate" [(ngModel)]="actualTask.nextActDate"></p-calendar>
  </div>

  <div class="form-group">
    <label for="type">Task Type</label>
    <select class="form-control" name="type" ng-model="newTaskStatus" [(ngModel)]="actualTask.type">
      <option *ngFor="let task of taskTypes" [value]="task">{{task}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="status">Status:</label>
    <select class="form-control" name="status" [(ngModel)]="actualTask.status">
      <option *ngFor="let status of taskStatus" [value]="status">{{status}}</option>
    </select>
  </div>
</div>


<h2>Comments</h2>

<button pButton type="button" class="ui-button-primary m-md-1" label="Add new" (click)="addNewComment($event)"></button>

<div *ngIf="!actualTask">
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="actualTask">
  <input class="form-control" type="text" name="search"
         [(ngModel)]="searchText" autocomplete="off" placeholder="Search">

  <div *ngFor="let comment of commentsForTask  | filter:searchText">
    <p-panel class="mr-md-1">
      <p-header>
        {{comment.dateAdded | date: 'short'}}
      </p-header>

      <div class="form-group">
        <label for="type">Comment Type:</label>
        <select class="form-control" name="type" [(ngModel)]="comment.type">
          <option *ngFor="let type of commentTypes" [value]="type">{{type}}</option>
        </select>
      </div>

      <div class="form-group">
        <textarea [rows]="4" [cols]="70" pInputTextarea disabled="true" [(ngModel)]="comment.comment" autoResize="autoResize" class="full-opacity"></textarea>
      </div>

      <div class="form-group">
        <label>Remainder Date:</label>
        <input value="{{comment.remainderDate | date: 'short'}}" type="text" class="form-control" name="description" id="description">
      </div>

      <p-footer>
        <button pButton type="button" class="ui-button-danger m-md-1" label="Delete" (click)="$event.stopPropagation(); deleteComment(comment)"></button>
        <button pButton type="button" class="ui-button-primary m-md-1" label="Save Changes" (click)="saveEditComment(comment)"></button>
      </p-footer>
    </p-panel>
  </div>
</div>


<p-dialog [(visible)]="displayAddNew" [style]="{width: '500px', heigth: '100vh'}" >
  <p-header>
    Add new Comment
  </p-header>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="remainderDate">Next Assigment Date</label><br />
      <p-calendar name="remainderDate" ngModel></p-calendar>
    </div>

    <div class="form-group">
      <label>Message</label>
      <!--<input type="text" class="form-control" name="description" id="description" ngModel required>-->
      <textarea [rows]="4" [cols]="70" pInputTextarea class="form-control" name="comment" autoResize="autoResize" ngModel required></textarea>
    </div>

    <div class="form-group">
      <label for="type">Task Type</label>
      <select class="form-control" name="type" ngModel required>
        <option *ngFor="let comment of commentTypes" [value]="comment">{{comment}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>

</p-dialog>


<p-dialog [(visible)]="isInEdit">
  <p-progressSpinner></p-progressSpinner>
</p-dialog>
